@use "./variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  color: variables.$white;
}

h5,
h6,
nav {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  color: variables.$secondary-color;

  &.subheading {
    letter-spacing: normal;
    color: variables.$white;
  }
}
h6 {
  font-size: 14px;
  letter-spacing: 2.35px;
  color: variables.$secondary-color;

  &.subheading {
    letter-spacing: normal;
    color: variables.$white;
  }
}

nav,
.nav__text {
  font-size: 16px;
  letter-spacing: 2.7px;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  color: variables.$white;
  font-size: 18px;
}

.page {
  position: relative;

  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;

  padding-top: 96px;
}

@media (max-width: 470px) {
  h1 {
    font-size: 100px !important;
  }
  h2 {
    font-size: 75px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 25px !important;
  }
}
