@use "./variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

#root {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  color: variables.$white;
}

h5,
h6,
nav {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  color: variables.$secondary-color;

  &.subheading {
    letter-spacing: normal;
    color: variables.$white;
  }
}
h6 {
  font-size: 14px;
  letter-spacing: 2.35px;
  color: variables.$secondary-color;

  &.subheading {
    letter-spacing: normal;
    color: variables.$white;
  }
}

nav,
.nav__text {
  font-size: 16px;
  letter-spacing: 2.7px;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  color: variables.$white;
  font-size: 18px;
}

.page {
  position: relative;

  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;

  padding-top: 136px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.page__heading {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  span {
    opacity: 0.5;
    font-weight: bold;
    margin-right: 10px;
  }
}

.page__wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 85%;
  width: 100%;
}

.page__left {
  padding-left: 15%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.page__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.page__falvourtext {
  font-size: 25px !important;
}
.page__title {
  text-transform: uppercase;
  font-size: 65px;
}

.page__description {
  color: variables.$secondary-color;
  line-height: 35px;
  font-size: 20px;
  padding-right: 10%;
}

.page__right {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 1024px) {
  .page {
    flex-direction: column;
    align-items: center;
  }

  .page__heading {
    position: relative;
    inset: 0;
    width: 100%;
    padding-left: 10%;
    margin-block: 10px;
  }

  .page__wrapper {
    grid-template-columns: none;
    grid-template-rows: 2fr 3fr;
    gap: 15px;
  }
  .page__right {
    order: -1;

    img {
      width: 100%;
      max-width: none;
      max-height: none;
    }
  }

  .page__left {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: center;
    gap: 25px;
  }
  .page__description {
    padding-inline: 20%;
  }
}

@media (max-width: 470px) {
  .page {
    padding-top: 96px;
  }
  .page__heading {
    padding: 0;
    text-align: center;
  }
  .page__falvourtext {
    font-size: 16px !important;
  }
  .page__title {
    font-size: 30px;
  }
  .page__description {
    padding-inline: 5%;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 100px !important;
  }
  h2 {
    font-size: 75px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 25px !important;
  }
}
