@use "../../sass/variables";
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (min-width: 1025px) {
    gap: 45px;
    justify-content: start;
  }
}

.tab {
  position: relative;
  text-transform: uppercase;

  .highlight__bar {
    top: 125%;
  }
}

.tab__text {
  color: variables.$secondary-color;
  &[data-active="true"] {
    color: white;
  }
}
