@use "../../sass/variables";

.destination {
  background-image: url("/assets/destination/background-destination-desktop.jpg");

  @media (max-width: 768px) {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }
  @media (max-width: 425px) {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
  }

  .destination__numbers {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 60%;
    border-top: 1px solid #ffffff63;
  }

  .destinanion__distance,
  .destination__time {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    h6,
    h4 {
      padding-block: 5px;
    }
  }

  @media (min-width: 1025px) {
    .page__right {
      align-items: center;
    }

    .page__wrapper {
      grid-template-columns: 5fr 4fr;
    }
    .destination__numbers {
      justify-content: space-evenly;
      width: 100%;
    }

    .destinanion__distance,
    .destination__time {
      margin-right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .destination__numbers {
    flex-direction: column;
  }
}
