.technology {
  background-image: url("/assets/technology/background-technology-desktop.jpg");

  @media (max-width: 768px) {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
  @media (max-width: 425px) {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }

  .page__left {
    order: 1;
    @media (min-width: 1025px) {
      flex-direction: row;
      order: -1;
    }
  }
  .page__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
