.technology {
  background-image: url("/assets/technology/background-technology-desktop.jpg");

  @media (max-width: 768px) {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
  @media (max-width: 425px) {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }
}

.technology__right {
  justify-content: end !important;
}
