@use "../../sass/variables";

.home {
  position: relative;
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 96px;

  @media (max-width: 768px) {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  @media (max-width: 425px) {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }
}

.home__left,
.home__right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__left {
  width: 60%;
}
.home__right {
  width: 40%;
}

.home__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5%;
  max-width: 80%;
  gap: 24px;

  p {
    color: variables.$secondary-color;
    line-height: 32px;
    font-size: 18px;
    max-width: 70%;
  }
}

.button_wrapper {
  position: relative;
  margin-top: 25%;
}

.explore__button {
  background-color: white;
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
  z-index: 2;

  position: relative;

  h4 {
    color: black;
  }
}

.circle__hover {
  position: absolute;
  border-radius: 50%;
  inset: 0;
  height: 30vh;
  width: 30vh;
  background-color: rgba($color: #fff, $alpha: 0.15);
  z-index: 1;
}
@media (max-width: 1024px) {
  .home {
    flex-direction: column;
    padding-top: 96px;
    text-align: center;
  }

  .home__left,
  .home__right {
    width: 100%;
  }

  .home__right {
    height: 40%;
  }

  .home__hero {
    max-width: none;
    padding-inline: 0;
    align-items: center;
  }

  .home__right {
    display: flex;
    align-content: center;
    align-items: flex-start;
    height: 60%;
  }

  .button_wrapper {
    margin: 0;
  }

  .explore__button {
    height: 25vh;
    width: 25vh;
    margin: 0;
  }

  .circle__hover {
    height: 25vh;
    width: 25vh;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 100px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 25px !important;
  }
  .explore__button {
    height: 20vh;
    width: 20vh;
  }
  .circle__hover {
    height: 20vh;
    width: 20vh;
  }
}
